<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Sehr geehrteR BewerberIn,</h1>
<p>
  hiermit bestätigen wir Ihren Upload für das Aufnahmeverfahren MultiMediaArt-Bachelor 2018!
  <br>
  Falls Sie Dokumente ergänzen, ändern oder löschen müssen, können Sie sich bis 20. April 2018, 23:59 Uhr mit diesem Link erneut einloggen:
</p>

<p>
  <a href="<%= @url %>"><%= @url %></a>
</p>

<p>
  Die Aufnahmegespräche finden zwischen 22. und 26. Mai 2018 statt.
  <br>
  Die konkreten Termine werden vom Studiengang eingeteilt und am 05. Mai 2018 per E-Mail ausgeschickt!
</p>

<p>
  Wir wünschen Ihnen alles Gute für das Aufnahmeverfahren 2018!
  <br>
  Ihr Team-MMA
</p>

</body>
</html>
