<p>Sehr geehrteR BewerberIn,</p>

<p>
  hiermit bestätigen wir Ihre Registrierung für den Upload Ihres Bewerbungsprojektes bei MultiMediaArt-Bachelor 2017!
</p>

<p>
  Im folgenden Link können Sie Ihr Bewerbungsprojekt und die dazugehörigen Unterlagen hochladen:
</p>

<p>
  <%= link_to 'Upload für Bewerbung starten', confirmation_url(@resource, confirmation_token: @token) %>
</p>

<p>
  Bitte beachten Sie, dass der Upload am 20. April 2017 um 23:59 Uhr schließt.
  <br>
  Die Online-Bewerbung schließt am 19. April 2017 um 23:59 Uhr.
</p>

<p>Ihr Team-MMA</p>
